main{
    margin-top: 285px;
    text-align: center;
}
h1{
    color: #025157;
}
h3{
    color: #46484c;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color: #025157;
    color: #fff;
}

span{

    font-weight: bold;
}

body{
    background-color: #fffbf7;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  
  }
  li {
    display: inline;
  }
  .logo {
    width: 15%;
    
  }

  .logo > img {
    height: 100%;
  }
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
  }
  
  .menu-item{
      display: inline;
      margin-left: 25px;
      margin-right: 25px;
  }
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }
  .actions >*{
    margin-left: 10px;
    margin-right: 10px;
  }
  .actions > a{
      color: #67b54b;
  }

  .actions > button{
      color: #fff;
      background-color: #67b54b;
      padding: 12px 14px 12px 14px;
      border: 0px;
      border-radius: 5px;
  }

  form{
      text-align: center;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: auto;
    margin: 100px auto;
    align-items: center;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }